* {
    margin: 40px;
}

body {
    background-color: #f2f7f3;
}

.content,
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(131, 103, 209);
}

button {
    background-color: rgb(207, 161, 201);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    width: auto;
}

button:hover {
    background-color: rgb(53, 199, 40);
}

.container,
content,
h1 {
    background-color: rgb(110, 204, 199);
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 100px;
}